* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-colormain: #4834d4;
    --bg-colorsecondary:#e2e9f7;
}

.header {
    width: 100%;
    height: 100vh;
    background: var(--bg-colorsecondary);
}

.side-nav {
    width: 250px;
    height: 100%;
    background: var(--bg-colormain);
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
}

.logo {
    display: block;
    margin-bottom: 130px;
}

.logo-img {
    width: 150px;
}

.nav-links {
    list-style: none;
    position: relative;
}

.nav-links li {
    padding: 10px 0;
}

.nav-links li a {
    color: #fff;
    padding: 10px 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.nav-links li a i {
    font-size: 22px;
    margin-right: 20px;
}

.active {
    background: #fff;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
    display: none;
    transition: top 0.5s;
}

.nav-links li:hover a {
    color:var(--bg-colormain);
    transition: 0.3s;
}

.nav-links li:hover ~ .active {
    display: block;
}

.nav-links li:nth-child(1):hover ~.active {
    top: 2%;
}

.nav-links li:nth-child(2):hover ~.active {
    top: 18.5%;
}
.nav-links li:nth-child(3):hover ~.active {
    top: 35.0%;
}

.nav-links li:nth-child(4):hover ~.active {
    top: 52.5%;
}

.nav-links li:nth-child(5):hover ~.active {
    top: 68%;
}

.nav-links li:nth-child(6):hover ~.active {
    top: 85%;
}

.logo-icon {
    display: none;
    width: 45px;
}

@media only screen and (max-width : 600px){
    .side-nav {
        width: 110px;
    }

    .logo-icon {
        display: block;
    }

    .logo-img {
        display: none;
    }

    .nav-links li a p {
        display: none;
    }

    .nav-links li a i {
        margin-right: 0;
    }

    .nav-links li a {
        justify-content: center;
    }
}